ion-content {
  --background: var(--ion-color-light);
}

ion-item {
  --background: var(--ion-color-light);
  --border-color: var(--ion-color-medium);
}

ion-button {
  margin-top: 16px;
}

.info-message {
  text-align: center;
  margin-bottom: 16px;
}

.info-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--ion-color-primary);
}

.info-subtitle {
  font-size: 0.9rem;
  color: var(--ion-color-medium);
}