<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" aria-label="Cancel">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-category-grid-selector
    [categories]="resolvedCategories"
    [selectedCategoryIds]="localSelectedCategoryIds"
    (selectedCategoryIdsChange)="onSelectedCategoryIdsChange($event)"
    [includeUncategorized]="effectiveIncludeUncategorized"
    [singleSelect]="singleSelect"
    [showAddCategoryTile]="showAddCategoryTile"
    addCategoryLabel="New Category"
    (addCategoryClick)="openCreateCategory()"
    uncategorizedLabel="Uncategorized"
  ></app-category-grid-selector>

  <div class="category-help-text" *ngIf="showAddCategoryTile">
    You can customize these in Manage Categories under Settings in the side menu.
  </div>
</ion-content>

<ion-footer *ngIf="!singleSelect">
  <ion-toolbar>
    <ion-buttons slot="start" style="width: 50%;">
      <ion-button expand="block" (click)="clearAll()" aria-label="Clear category filters">
        <ion-icon name="trash" slot="start"></ion-icon>
        Clear
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" style="width: 50%;">
      <ion-button expand="block" color="primary" (click)="apply()" aria-label="Apply category filters">
        <ion-icon name="checkmark" slot="start"></ion-icon>
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
