<ion-card class="balance-card total-card account-single-card">
  <ion-card-content class="card-content">
    <div class="card-top">
      <span class="current-label">Current balance</span>
      <ion-button fill="clear" size="small" class="toggle-button" (click)="toggleExpanded()" aria-label="Toggle account details">
        <ion-icon name="chevron-forward" class="toggle-icon" [class.expanded]="expanded"></ion-icon>
      </ion-button>
    </div>
    <div class="card-middle">
      <ng-container *ngIf="firstAccountName$ | async as firstAccountName">
        <div
          class="balance clickable"
          (click)="openAccountDetails(firstAccountName)"
          tabindex="0"
          role="button"
          aria-label="View transactions for selected account"
        >
          <ng-container *ngIf="totalNonCredit$ | async as totalNonCredit">
            {{ formatBalance(totalNonCredit) }}
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="(firstAccountName$ | async) === null">
        <div class="balance">
          <ng-container *ngIf="totalNonCredit$ | async as totalNonCredit">
            {{ formatBalance(totalNonCredit) }}
          </ng-container>
        </div>
      </ng-container>
      <div class="collapsed-details">
        <div class="detail-item">
          <span>Credit</span>
          <span class="detail-value">
            <ng-container *ngIf="totalCredit$ | async as credit">
              {{ formatBalance(credit) }}
            </ng-container>
          </span>
        </div>
        <div class="detail-item">
          <span>Effective</span>
          <span class="detail-value">
            <ng-container *ngIf="effective$ | async as eff">
              {{ formatBalance(eff) }}
            </ng-container>
          </span>
        </div>
      </div>
    </div>

    <ion-list *ngIf="expanded" lines="none" class="accounts-list">
      <ion-item *ngFor="let acc of accounts$ | async" class="compact-item">
        <ion-label>
          <h3>{{ acc.name }}</h3>
        </ion-label>
        <div
          class="account-balance clickable"
          (click)="openAccountDetails(acc.name)"
          tabindex="0"
          role="button"
          aria-label="View transactions for {{ acc.name }}"
        >
          {{ formatBalance(acc.balance) }}
        </div>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
