<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button aria-label="Customize dashboard" (click)="openCustomizeDashboard()">
        <ion-icon slot="icon-only" name="apps-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="sticky-filter-bar">
    <app-date-range-filter
      [selectedPeriod]="selectedDateRange.period"
      [showNavigation]="true"
      [showPeriodPicker]="false"
      (dateRangeChange)="onDateRangeChange($event)">
    </app-date-range-filter>
  </div>

  <div class="container" *ngIf="visibleWidgets.length > 0; else emptyState">
    <ng-container *ngFor="let widget of visibleWidgets; trackBy: trackByWidgetId">
      <ng-container *ngComponentOutlet="widget.component"></ng-container>
    </ng-container>
  </div>

  <ng-template #emptyState>
    <div class="container empty-state">
      <ion-text color="medium">
        <p>No widgets are visible. Use Customize to enable widgets.</p>
      </ion-text>
      <ion-button (click)="openCustomizeDashboard()">Open Customize</ion-button>
    </div>
  </ng-template>
</ion-content>
