<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/transactions"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Edit Transaction' : 'New Transaction' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!canSave || saving" (click)="save()">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isEditMode" color="danger" (click)="confirmDelete()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 12px 16px 0;">
    <ion-segment [(ngModel)]="form.type" (ionChange)="onTypeChange()" *ngIf="!isEditMode">
      <ion-segment-button value="expense">Expense</ion-segment-button>
      <ion-segment-button value="income">Income</ion-segment-button>
      <ion-segment-button value="transfer">Transfer</ion-segment-button>
    </ion-segment>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Amount *</ion-label>
      <ion-input
        #amountInput
        autofocus
        type="number"
        [(ngModel)]="form.amount"
        placeholder="0.00"
        inputmode="decimal"
        min="0"
      ></ion-input>
    </ion-item>

    <ion-item *ngIf="form.type !== 'transfer'">
      <ion-label position="stacked">Description</ion-label>
      <ion-input
        [(ngModel)]="form.description"
        (ionInput)="filterDescriptionSuggestions($event)"
        (ionBlur)="onDescriptionBlur($event)"
        placeholder="Enter description"
      ></ion-input>
    </ion-item>

    <ion-list *ngIf="filteredSuggestions.length > 0" class="autocomplete-dropdown">
      <ion-item
        *ngFor="let suggestion of filteredSuggestions"
        (click)="selectDescription(suggestion)"
      >
        {{ suggestion }}
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label position="stacked">{{ form.type === 'transfer' ? 'From Account *' : 'Account *' }}</ion-label>
      <ion-select [(ngModel)]="form.accountId" placeholder="Select account" interface="action-sheet" [disabled]="isEditMode">
        <ion-select-option *ngFor="let account of accounts" [value]="account.id">
          {{ account.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="form.type === 'transfer'">
      <ion-label position="stacked">To Account *</ion-label>
      <ion-select [(ngModel)]="form.transferToAccountId" placeholder="Select destination" interface="action-sheet">
        <ion-select-option
          *ngFor="let account of accounts"
          [value]="account.id"
          [disabled]="account.id === form.accountId"
        >
          {{ account.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="form.type !== 'transfer'" button detail="false" (click)="openCategoryModal()">
      <ion-label position="stacked">Category</ion-label>
      <div style="display: flex; align-items: center; gap: 8px; min-height: 32px;">
        <ng-container *ngIf="form.categoryId; else noCategory">
          <ion-chip color="primary" style="margin:0;">
            <ng-container *ngIf="categoryById(form.categoryId) as cat">
              <ion-icon [name]="cat.icon || 'pricetag-outline'" style="margin-right:4px;" [style.color]="cat.color || 'var(--ion-color-medium)'" slot="start"></ion-icon>
              {{ cat.name }}
            </ng-container>
          </ion-chip>
        </ng-container>
        <ng-template #noCategory>
          <ion-note color="medium">Select category</ion-note>
        </ng-template>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date *</ion-label>
      <ion-datetime-button style="margin-top: 6px;" datetime="transaction-date"></ion-datetime-button>
    </ion-item>

    <ion-item button detail="false" *ngIf="form.type !== 'transfer'" (click)="showMoreOptions = !showMoreOptions">
      <ion-label>{{ showMoreOptions ? 'Hide More options' : 'More options' }}</ion-label>
      <ion-icon slot="end" [name]="showMoreOptions ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
    </ion-item>

    <ng-container *ngIf="form.type !== 'transfer' && showMoreOptions">
      <ion-item lines="none">
        <ion-label position="stacked">Tags</ion-label>
      </ion-item>

      <app-tag-input
        [(ngModel)]="form.tags"
        [autocomplete]="true"
        [autocompleteItems]="tagSuggestions"
        [autocompleteMustMatch]="false"
        placeholder="Type tags (use commas to separate)"
      ></app-tag-input>

      <ion-item>
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea
          [(ngModel)]="form.notes"
          placeholder="Additional details..."
          rows="3"
        ></ion-textarea>
      </ion-item>
    </ng-container>

    <ion-item *ngIf="!isEditMode">
      <div style="display: flex; align-items: center; gap: 8px;">
        <ion-checkbox [checked]="addMore" (ionChange)="addMore = $event.detail.checked" aria-label="Add more"></ion-checkbox>
        <ion-label style="margin: 0;">Add more</ion-label>
      </div>
    </ion-item>
  </ion-list>
  
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="transaction-date"
        presentation="date"
        [value]="form.date"
        (ionChange)="onDateChange($event)"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
