<ion-menu contentId="main-content" #mainMenu>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Money Mate</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button routerLink="/tabs/dashboard" (click)="closeMenu(mainMenu)">
        <ion-icon name="stats-chart" slot="start"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-item>
      <ion-item button routerLink="/tabs/transactions" (click)="closeMenu(mainMenu)">
        <ion-icon name="list" slot="start"></ion-icon>
        <ion-label>Transactions</ion-label>
      </ion-item>
      <ion-item button routerLink="/settings" (click)="closeMenu(mainMenu)">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
      <ion-item button routerLink="/settings/categories" class="settings-sub-item" (click)="closeMenu(mainMenu)">
        <ion-icon name="pricetags-outline" slot="start"></ion-icon>
        <ion-label>Categories</ion-label>
      </ion-item>
      <ion-item button routerLink="/settings/accounts" class="settings-sub-item" (click)="closeMenu(mainMenu)">
        <ion-icon name="wallet-outline" slot="start"></ion-icon>
        <ion-label>Accounts</ion-label>
      </ion-item>
      <ion-item button routerLink="/settings/budgets" class="settings-sub-item" (click)="closeMenu(mainMenu)">
        <ion-icon name="pie-chart-outline" slot="start"></ion-icon>
        <ion-label>Budgets</ion-label>
      </ion-item>
      <ion-item button routerLink="/settings/recurring-payments" class="settings-sub-item" (click)="closeMenu(mainMenu)">
        <ion-icon name="repeat-outline" slot="start"></ion-icon>
        <ion-label>Upcoming Payments</ion-label>
      </ion-item>
      <ion-item button routerLink="/imports/transactions/csv" (click)="closeMenu(mainMenu)">
        <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
        <ion-label>Import CSV</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer class="install-footer" *ngIf="showInstall">
    <div class="install-info">
      Do you know you can install this app on your device for quick access?
    </div>
    <ion-item (click)="promptInstall()" class="install-app-button" button>
      <ion-icon slot="start" name="download-outline" style="color: #fff;"></ion-icon>
      <ion-label>Install App</ion-label>
    </ion-item>
  </ion-footer>
</ion-menu>